<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" style="background-image: url(/assets/images/hero/contact.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>WE SERVE WITH WITH SMILE.</h2>                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- About US Section Begin -->
<section class="aboutus-section">
    <div class="container">
        <div class="row">            
            <div class="col-lg-12 p-0">
                <div class="about-text">
                    <div class="section-title">
                        <span>About Us</span>
                        <h2>What we Do</h2>
                    </div>
                    <div class="at-desc">
                        <p>E4Ecom is a Digital Enabler and an IT consultancy firm that focus on brand building to help stand out in the competitive market. We deliver eCommerce marketplaces that are completely customizable so that they can evolve in the near future and accommodate the brand’s vision and growth plans. Modern-day shoppers want unique experiences. We are helping companies create and deliver the same through powerful out-of-the-box eCommerce solutions. With the fluid design & responsive deign, our custom ecommerce solutions dominate desktops as well as smartphones.<br><br>Also We offer unique and secure web application development solutions matching customer’s business strategies and requirements.Focused on collaborative approach, our team understands customers’ needs to deliver business value.</p>                        
                    </div>
                    <div class="section-title">
                        <span>Our goals</span>                        
                    </div>
                    <div class="row">
                        <div class="col-lg-3 order-lg-1 col-md-6 p-0">
                            <div class="ss-pic">
                                <img src="assets/images/meet-req.png" class="service-tile" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3 order-lg-2 col-md-6 p-0">
                            <div class="ss-text">
                                <h4>Meet you requirements</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut dolore
                                    facilisis.</p>
                               
                            </div>
                        </div>
                        <div class="col-lg-3 order-lg-3 col-md-6 p-0">
                            <div class="ss-pic">
                                <img src="assets/images/first-time.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3 order-lg-4 col-md-6 p-0">
                            <div class="ss-text">
                                <h4>Do it right in the first time</h4>
                                <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus.</p>
                                
                            </div>
                        </div>
                        <div class="col-lg-3 order-lg-8 col-md-6 p-0">
                            <div class="ss-pic">
                                <img src="assets/images/cont-imp.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3 order-lg-7 col-md-6 p-0">
                            <div class="ss-text second-row">
                                <h4>Continuously improve</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut dolore
                                    facilisis.</p>
                                
                            </div>
                        </div>
                        <div class="col-lg-3 order-lg-6 col-md-6 p-0">
                            <div class="ss-pic">
                                <img src="assets/images/commitment.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3 order-lg-5 col-md-6 p-0">
                            <div class="ss-text second-row">
                                <h4>Commitment</h4>
                                <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus.</p>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About US Section End -->
<!-- Banner Section Begin -->
<section class="banner-section set-bg" data-setbg="img/banner-bg.jpg" style="background-image: url(/assets/images/contact.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="bs-text">
                    <h2>registration now to get more deals</h2>
                    <div class="bt-tips">You dream, we deliver.</div>
                    <a routerLink="/contact" class="primary-btn  btn-normal">Reach us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->