.about-text { 
    height: auto;
    padding: 70px ;
}

.ss-pic img {
    width: 125px;
    height: 125px;
    min-width: auto;
    margin: 70px;
}
.banner-section {
    height: 300px;
    background-attachment: fixed;
}

.bs-text .bt-tips {
    color: #4CAF50;
}

.ss-text p {
    color: #333333;
}