<div >
<owl-carousel class="hs-slider owl-carousel" [options]="SlideOptions"  [carouselClasses]="['owl-theme', 'sliding']" >  
    <div class="item" *ngFor="let slide of slides">  
    <div style="align-content: center">  
    <img class="img-responsive slider-img" src={{slide.image}}/>  
    <div class="row slider-slogan">
        <div class="col-lg-12 text-center">
            <div class="breadcrumb-text">
                <h2>{{slide.slogan}}</h2>                    
            </div>
        </div>
    </div>
    
    </div>  
    </div>  
    </owl-carousel> 
</div>
 <!-- ChoseUs Section Begin -->
 <section class="choseus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>OUR SERVICES</span>
                    <h2>WHAT WE CAN OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="cs-item">
                    <img src="assets/images/services/e-commerce.svg" class="svg-icon" alt="">
                    <h4>Ecommerce Solutions</h4>
                    <p>Nowadays a major chunk of business is done through eCommerce. There is a lot of competition in the market. Business is done via eCommerce sites. Just any other eCommerce site won’t do. It should stand out from the competition and be user friendly. We take a look at the benefits of availing of custom eCommerce development services.</p>
                    <a routerLink="/about" class="primary-btn  btn-normal">Read more</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="cs-item">
                    <img src="assets/images/services/web-dev.svg" class="svg-icon" alt="">
                    <h4>Responsive Web Development</h4>
                    <p>Responsive design can help you solve a lot of problems for your website. It will make your site mobile-friendly, improve the way it looks on devices with both large and small screens, and increase the amount of time that visitors spend on your site. It can also help you improve your rankings in search engines.</p>
                    <a routerLink="/about" class="primary-btn  btn-normal">Read more</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="cs-item">
                    <img src="assets/images/services/mobile-app.svg" class="svg-icon" alt="">
                    <h4>Mobile App Development</h4>
                    <p>Mobile application development is the process of creating software applications that run on a mobile device, and a typical mobile application utilizes a network connection to work with remote computing resources. Hence, this process involves creating installable software bundles, implementing backend services such as data access with an API, and testing the application on target devices.</p>
                    <a routerLink="/about" class="primary-btn  btn-normal">Read more</a>
                </div>
            </div>            
        </div>
    </div>
</section>
<!-- ChoseUs Section End -->
<!-- About US Section Begin -->
<section class="aboutus-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="about-video set-bg" data-setbg="img/about-us.jpg" 
                style="background-image: url(/assets/images/hero/digital-marketing.jpg)">
                    <!-- <a href="https://www.youtube.com/watch?v=EzKkl64rRbM" class="play-btn video-popup"><i
                            class="fa fa-caret-right"></i></a> -->
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="about-text">
                    <div class="section-title">
                        <span>About Us</span>
                        <h2>What we Do</h2>
                    </div>
                    <div class="at-desc">
                        <p>E4Ecom is a Digital Enabler and an IT consultancy firm that focus on brand building to help stand out in the competitive market. We deliver eCommerce marketplaces that are completely customizable so that they can evolve in the near future and accommodate the brand’s vision and growth plans. Modern-day shoppers want unique experiences. We are helping companies create and deliver the same through powerful out-of-the-box eCommerce solutions. With the fluid design & responsive deign, our custom ecommerce solutions dominate desktops as well as smartphones.</p>
                        <a routerLink="/about" class="primary-btn btn-normal appoinment-btn">Read more</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About US Section End -->