.hs-slider.owl-carousel {
    display: block;
}
.owl-theme .owl-nav {
    margin: 0; 
}

.slider-img {
    width: 100%;
    max-height: 550px;
    object-fit: cover;
}

.cs-item .svg-icon {
    width: 100px;
    height: 100px;
}

.cs-item p {
    color: #333333;
}

.slider-slogan {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}