<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" style="background-image: url(/assets/images/hero/tech.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Technology = techniques + skills + methods + processes.</h2>                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- ChoseUs Section Begin -->
<section class="choseus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">  
                    <span>our technology stack</span>                  
                    <h2>WHAT WE USE?</h2>
                    <p style="margin-top: 20px; color: #333333;">We understand client objectives and business processes to deliver unique solutions. We strive to use innovative ideas and platforms to ensure that our applications load fast and are fully responsive to meet your business needs. We help you optimize your online site for high performance, increased traffic, and enhance profitability by the latest & upadated tools in the market.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="cs-item angular">
                    <img src="assets/images/tech/logo.svg">
                    <h4>ANGULAR</h4>
                    <p>Angular is an application design framework and development platform for creating efficient and sophisticated single-page apps.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="cs-item html5">
                    <img src="assets/images/tech/html-5.svg">
                    <h4>HTML5</h4>
                    <p>HTML stands for Hyper Text Markup Language. Itis the standard markup language for creating Web pages & describes the structure of a Web page.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="cs-item css3">
                    <img src="assets/images/tech/css3.svg">
                    <h4>CSS3</h4>
                    <p>Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language like HTML.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="cs-item bootstrap">
                    <img src="assets/images/tech/bootstrap-4.svg">
                    <h4>BOOTSTRAP 4</h4>
                    <p>Bootstrap is a free front-end framework for faster and easier web development. Bootstrap also gives you the ability to easily create responsive designs.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="cs-item node">
                    <img src="assets/images/tech/nodejs-icon.svg">
                    <h4>NODE JS</h4>
                    <p>Node.js is an open source server environment & It runs on various platforms (Windows, Linux, Unix, Mac OS X, etc.).
                        It uses JavaScript on the server.</p>
                </div>
            </div>
            
            <div class="col-lg-4 col-sm-6">
                <div class="cs-item mongodb">
                    <img src="assets/images/tech/mongodb.svg">
                    <h4>MONGO DB</h4>
                    <p>MongoDB is a most popular cross-platform document-oriented NoSQL database program. It uses JSON-like documents with optional schemas.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ChoseUs Section End -->