
$bootstrap : #563D7C;
$angular : #E42939;
$html5: #E44D26;
$css3: #33a9dc;
$mongodb : #599636;
$nodejs: #8CC84B;
img {
    width: 100px;
    height: 100px;
}


.spad {
    padding-top: 25px;
}

.cs-item {    
    background: #fff;
    padding: 20px 5px 10px;
    position: relative;
    transition: .3s;
    p {
        position: relative;
        z-index: 2;
        transition: .3s;
    }
    &:after {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 110px;
        width: 100%;
        border-top: 4px solid #ccc;
        background: #ccc;
        content: "";
        z-index: 0;
        display: none;
        animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    }
    &.angular {
        box-shadow: 0 0 2px 2px $angular;
        &:after {
            background-color: $angular;
        }
    }
    &.html5 {
        box-shadow: 0 0 2px 2px $html5;
        &:after {
            background-color: $html5;
        }
    }
    &.css3 {
        box-shadow: 0 0 2px 2px $css3;
        &:after {
            background-color: $css3;
        }
    }
    &.node {
        box-shadow: 0 0 2px 2px $nodejs;
        &:after {
            background-color: $nodejs;
        }
    }
    &.bootstrap {
        box-shadow: 0 0 2px 2px $bootstrap;
        &:after {
            background-color: $bootstrap;
        }
    }
    &.mongodb {
        box-shadow: 0 0 2px 2px $mongodb;
        &:after {
            background-color: $mongodb;
        }
    }
    &:hover {
        cursor: pointer;
        
       
        p {
            color: #fff;
        }
        &:after {
            display: block;
        }
    }
}

@keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-50%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }