    <!-- Header Section Begin -->
    <header class="header-section">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-3">
                  <div class="logo">
                      <a href="./index.html">
                          <!-- <img src="assets/images/logo.png" alt=""> -->
                          <h2 style="color: #c9ff92;">E4ECOM.XYZ</h2>
                      </a>
                  </div>
              </div>
              <div class="col-lg-6">
                  <nav class="nav-menu">
                      <ul>
                          <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
                          <li routerLinkActive="active"><a routerLink="/about">About Us</a></li>                          
                          <!-- <li routerLinkActive="active"><a routerLink="/services">Services</a></li> -->
                          <li routerLinkActive="active"><a routerLink="/technology">Technology</a></li>
                          <!-- <li routerLinkActive="active"><a routerLink="/team">Our Team</a></li> -->
                          <!-- <li><a href="#">Pages</a>
                              <ul class="dropdown">
                                  <li><a href="./about-us.html">About us</a></li>
                                  <li><a href="./class-timetable.html">Classes timetable</a></li>
                                  <li><a href="./bmi-calculator.html">Bmi calculate</a></li>
                                  <li><a href="./team.html">Our team</a></li>
                                  <li><a href="./gallery.html">Gallery</a></li>
                                  <li><a href="./blog.html">Our blog</a></li>
                                  <li><a href="./404.html">404</a></li>
                              </ul>
                          </li> -->
                          <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
                      </ul>
                  </nav>
              </div>
              <div class="col-lg-3">
                  <div class="top-option">
                      <div class="to-search search-switch">
                          <i class="fa fa-search"></i>
                      </div>
                      <div class="to-social">
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-youtube-play"></i></a>
                          <a href="#"><i class="fa fa-instagram"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="canvas-open">
              <i class="fa fa-bars"></i>
          </div>
      </div>
  </header>
  <!-- Header End -->
<router-outlet></router-outlet>

    <!-- Get In Touch Section Begin -->
    <div class="gettouch-section">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div class="gt-text">
                      <i class="fa fa-map-marker"></i>
                      <p>333 Middle Winchendon Rd, Rindge,<br/> NH 03461</p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="gt-text">
                      <i class="fa fa-mobile"></i>
                      <ul>
                          <li>125-711-811</li>
                          <li>125-668-886</li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="gt-text email">
                      <i class="fa fa-envelope"></i>
                      <p>Support.gymcenter@gmail.com</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Get In Touch Section End -->

  <!-- Footer Section Begin -->
  <section class="footer-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-4">
                  <div class="fs-about">
                      <div class="fa-logo">
                          <a href="#"><img src="img/logo.png" alt=""></a>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore dolore magna aliqua endisse ultrices gravida lorem.</p>
                      <div class="fa-social">
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-youtube-play"></i></a>
                          <a href="#"><i class="fa fa-instagram"></i></a>
                          <a href="#"><i class="fa  fa-envelope-o"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6">
                  <div class="fs-widget">
                      <h4>Useful links</h4>
                      <ul>
                          <li><a href="#">About</a></li>
                          <li><a href="#">Blog</a></li>
                          <li><a href="#">Classes</a></li>
                          <li><a href="#">Contact</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6">
                  <div class="fs-widget">
                      <h4>Support</h4>
                      <ul>
                          <li><a href="#">Login</a></li>
                          <li><a href="#">My account</a></li>
                          <li><a href="#">Subscribe</a></li>
                          <li><a href="#">Contact</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="fs-widget">
                      <h4>Tips & Guides</h4>
                      <div class="fw-recent">
                          <h6><a href="./blog-details.html">Physical fitness may help prevent depression, anxiety</a></h6>
                          <ul>
                              <li>3 min read</li>
                              <li>20 Comment</li>
                          </ul>
                      </div>
                      <div class="fw-recent">
                          <h6><a href="./blog-details.html">Fitness: The best exercise to lose belly fat and tone up...</a></h6>
                          <ul>
                              <li>3 min read</li>
                              <li>20 Comment</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12 text-center">
                  <div class="copyright-text">
                      <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="" >Arul</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Footer Section End -->