
$bootstrap : #563D7C;
$angular : #E42939;
$html5: #E44D26;
$css3: #33a9dc;
$mongodb : #599636;
$nodejs: #8CC84B;
@import 'assets/css/font-awesome.min.css';

@import 'assets/css/style.css';

.owl-theme .owl-nav {
    margin: 0;
}